{{#link-to 'index'}}
  Index
{{/link-to}}
{{#link-to 'blogs'}}
  Blogs
{{/link-to}}
{{#link-to 'bookmarks'}}
  Bookmarks
{{/link-to}}
{{#link-to 'contacts'}}
  Contacts
{{/link-to}}
{{log model}}

<form {{action "enteredInfo" on="submit"}}>
  <p>
    <label>Nickname</label>
    {{input type="text" value=nickname}}
  </p>

  <p>
    <label>URL</label>
    {{input type="text" value=url}}
  </p>

  <button>Submit</button>
</form>

<ul>
{{#each model as |input|}}
  <li><a href="{{ input.url }}">{{ input.nickname}}</a></li>
  <button {{action "deleteBm" input on="click"}} type="submit" name="button">DELETE</button>
{{/each}}
</ul>





{{outlet}}
