{{#link-to 'index'}}
Index
{{/link-to}}
{{#link-to 'blogs'}}
Blogs
{{/link-to}}
{{#link-to 'bookmarks'}}
Bookmarks
{{/link-to}}
{{#link-to 'contacts'}}
Contacts
{{/link-to}}
{{log model}}

<div class="create">
{{#link-to 'index' }}<button type="button"class="create-btn">Create New Contact</button>{{/link-to}}
</div>

<div class="ppl-info" {{action "deletePerson" person}}>
  {{#each model as |info|}}
  <h1 class="contacts-h1">{{info.first}}</h1>
  <h4 class="contacts-h4">{{info.phone}}</h4>
  <h4 class="contacts-h4">{{info.address}}</h4>
  <button class="delete-btn" >Delete them for existence</button>
{{/each}}
</div>


{{outlet}}
